//COLORS
$color-primary: #f6b736;
$color-primary-light: #f7b229;
$color-primary-dark: rgb(220, 108, 17);


$color-grey:grey;
$color-white: #EAF2E3;
$color-black: #000;

$text-color-primary: #272727;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;