.bg1 {
    background-color: $text-color-primary;
    color: $color-white;
}

.section {

    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 9vw;
    transform: skewY(5deg);
    transform-origin: left;
}

.profile__section{
    &-right{
        height: 47rem;
    }
}